// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// create new divider
hr {
  border: 0;
  background: #e7e7e7;
  height: 1px;
  margin: 2em;
  border-bottom: 1px solid white;
}

// personal aside text
.personal {
  margin: 2em;
  font-style: italic;
  font-size: 1em
}